body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
    padding-top: 100px;
}

@media screen and (max-width: 600px) {
    .main {
        padding-top: 50px;
    }
}

@media screen and (max-width: 400px) {
    .main {
        padding-top: 0;
    }
}

.widget-container-row {
    min-width: 320px;
    padding: 20px;
    border-radius: 10px;
    background-color: #dfe3e3;

    border: 2px solid #325f6b !important;
}

.address-text {
    font-size: 0.95rem !important;
    font-weight: bold;
}

